/*
* Elizabeth Lin
* March 28, 2018
* Intro CSS
*/


/* The universal selector */

* {
}

/* Put body attributes here */
h1 {
	font-size: 350%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline overline;
	}
.name{float: right;}
#nextp{clear: right;}

body { 
	background-color: skyblue;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 87.5%;}

}


